* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
ol,
summary {
  list-style: none;
}

body,
html {
  min-height: 100vh
}

html {
  scroll-behavior: smooth;
}

footer {
  margin-top: auto;
}

body {
  display: flex;
  flex-direction: column;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//убирает обводку элемента при фокусе
:focus {
  outline: 0;
  outline-offset: 0;
}

summary::marker {
  content: "";
}