<!-- ===========мобильное меню ===============-->

<!-- выезжающее меню -->
<nav class="mob-nav" id="mob-menu">

    <nav>
        <ul class="mob-nav-list">
            <li class="mob-nav-item">
                <a href="#" class="mob-nav-link">Главная</a>
                <ul class="spoiler-content-menu">
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#">
                            второй уровень
                        </a>
                        <ul class="spoiler-content-menu">
                            <li class="mob-nav-item">
                                <a class="mob-nav-link" href="#">
                                    третий уровень
                                </a>
                            </li>

                        </ul>

                    </li>
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#">
                            второй уровень
                        </a>
                    </li>
                </ul>
            </li>
            <li class="mob-nav-item">
                <a href="#" class="mob-nav-link">Контакты</a>
            </li>
        </ul>
    </nav>

</nav>