<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="#" class="nav-link">Главная</a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Пункт меню 2 уровня</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Пункт меню 2 уровня</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Ремонт</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Прайс-лист</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Объекты</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Отзывы</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Материалы</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Договор и оплата</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Контакты</a>
        </li>




        <!-- добавить скрытый пункт -->
    </ul>
</nav>