<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__list-item">
            <a href="pagination__item-link">назад</a>
        </li>
        <li class="pagination__list-item">
            <a href="pagination__item-link">1</a>
        </li>
        <li class="pagination__list-item">
            <a href="pagination__item-link">2</a>
        </li>
        <li class="pagination__list-item">
            <a href="pagination__item-link">3</a>
        </li>
        <li class="pagination__list-item">
            <a href="pagination__item-link">...</a>
        </li>
        <li class="pagination__list-item">
            <a href="pagination__item-link">вперед</a>
        </li>
    </ul>
</div>