<div class="sticky-header">
    <div class="container sticky-header__container">

        <a class="logo sticky-header-logo" href="/">

            <img src="assets/images/logo.png" alt="">

        </a>

        <nav class="nav-sticky">
            <ul class="nav-list-sticky">
                <li class="nav-item">
                    <a href="#" class="nav-link">Услуги</a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Пункт меню 2 уровня</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Пункт меню 2 уровня</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Прайс-лист</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Портфоли</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Блог</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Обо мне</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Контакты</a>
                </li>




                <!-- добавить скрытый пункт -->
            </ul>
        </nav>

        <div class="social-box sticky-header__social-box">

        </div>

        <!-- кнопка мобильного меню -->
        <button class="mob-nav-btn mob-nav-btn-sticky" id="sticky-menu-open">
            <span></span>
        </button>

    </div>


</div>